body {
    background-color: #f0f0f0;
}

#page {
    margin: 20px auto;
    width: 800px;
    border-radius: 2px;
    text-align: center;
    padding: 20px;
    background-color: white;
    min-height: 400px;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
}

#message {
    font-size: 20px;
    font-family: Arial, helvetica, sans-serif;
    margin: 100px auto;
}

.calendar td {
    border: 1px solid white;
    height: 97px;
    background-color: #B3E5FC;
}

.calendar .active {
    background-color: #4FC3F7;
}

.calendar {
    border-collapse: collapse;
    width: 100%;
}

.calendar td.day-6, .calendar td.day-7 {
    background-color: #03A9F4;
}

.calendar td.day-6.active, .calendar td.day-7.active {
    background-color: #0288D1;
}

.grid-60 td {
    border: 1px solid black;
    height: 30px;
    width: 25px;
    text-align: center;
}

.grid-60 {
    border-collapse: collapse;
    width: 50%;
    margin: 0 25%;
}

