body {
    background-color: #f0f0f0;
}

#page {
    margin: 20px auto;
    width: 800px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-color: white;
    min-height: 400px;
}

#message {
    font-size: 20px;
    font-family: Arial, helvetica, sans-serif;
    margin: 100px auto;
}

.calendar td {
    border: 1px solid black;
    height: 97px;
}

.calendar .active {
    background-color: black;
}

.calendar {
    border-collapse: collapse;
    width: 100%;
}

.day-6, .day-7 {
    background-color: #ccc;
}
